@tailwind base;
@layer base {
  html,body{
    @apply bg-white;
  }
  h1{
    @apply text-3xl py-2 font-semibold;
  }
  h2{
    @apply text-2xl py-2 font-semibold;
  }
  h3 {
    @apply text-xl py-2 font-semibold;
  }
  a{
    @apply text-secondary;
  }
  a:hover{
    @apply text-highlight;
  }
  li{
    @apply list-inside list-disc;
  }
}
@tailwind components;
@tailwind utilities;

.theme-container{
  .navbar {
    @apply bg-gray-300 bg-opacity-70 ;
    border: none;
  }
  .navbar .links{
    @apply bg-gray-300 bg-opacity-0 pr-12;
  }
  .logo{
    @apply p-0 rounded-full;
  }  
  .site-name{
    @apply hidden;
  }
  #content{
    @apply text-primary;
    blockquote{
      @apply my-4 py-4 px-2 text-gray-800 font-serif text-xl text-center;
    }
  }

}

.theme-container.homepage {
  #main-title {
    @apply leading-tight py-1 my-1;
  }
  .hero {
    @apply pt-14;
    img {
      @apply object-cover w-full m-0;
    }
  }
  .home {
    @apply max-w-max p-0; 
    @css {
      .features {
        @apply w-full mx-auto p-1 md:w-11/12;
      }
    }  
    .feature{
      @apply px-2 flex-1 ;
    } 
  }
}