// colors
$accentColor = #2a9d8f
$textColor = #1d3557
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #aaa
$badgeTipColor = #22C55E
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// layout
$navbarHeight = 4rem
$sidebarWidth = 10rem
$contentWidth = 740px
$homePageWidth = 960px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px